/* colors */

* {
  al:      #00000000;
  bg:      #1a1823CC;
  se:      #475C7Bff;
  fg:      #ffffffcc;
  ac:      #eaca8aff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #d2b09aff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
